.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.asideLeft{
  display: flex;
  width: 25rem;
  gap: 3rem;
  flex-direction: column;
}

.asideRight {
  display: flex;
  width: 25rem;
  gap: 3rem;
  flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

  }

.mainPageText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.hauntedButton {
  font-size: larger;
  border: 5px solid black;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.spookyText {
  background-image: url('../assets/skull-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 35rem;
  font-family: butcherman;
  font-size: 2rem;
  color: #ebee24;
  filter: drop-shadow(0px 0px 15px crimson);

}

.splashPage {
  display: flex;
  justify-content: center;
  align-items: center
}

  @import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

.pumpkinContainer {
  background-image: url("../assets/Group\ 1.svg") ;
  height: 31.25rem;
  width: 31.25rem;
  filter: drop-shadow(0px 0px 14px crimson);

  


  .leftEye {
    width: 1.5625rem; 
    height: 1.5625rem; 
    border-radius: 50%; 
    background-color: rgb(243, 246, 65); 
    position: relative;
    transform: translate(-50%, -50%);
    left: 35.5%; 
    top: 53%; 
    filter:
    drop-shadow(0px 0px 10px crimson) ;
}
  .rightEye {
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    background-color: #f3f641; 
    position: relative;
    transform: translate(-50%, -50%);
    left: 60.5%; 
    top: 46%; 
    filter:
    drop-shadow(0px 0px 10px crimson) ;
  }

  .pupil {
    width: 10px; 
    height: 10px;
    border-radius: 50%; 
    background-color: #000; 
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; 
    top: 50%; 
    box-shadow: rgba(0, 0, 0, 0.613) 0px 0px 5px;
  }
  
  .eye:nth-child(1) {
    left: 50%; 
  }
  
  .eye:nth-child(2) {
    left: 50%; 
  }
}

.pumpkinContainer:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 34px crimson);
  cursor: pointer;
}


.mainText {
  font-family: butcherman;
  font-size: 3rem;
  color: #ebee24;
  filter: drop-shadow(0px 0px 15px crimson);
  animation: pulsate 2s infinite;
}

.clickMeText {
  font-family: butcherman;
}

.bats {
  height: 10%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/halloween-bats.svg");
  animation: bats 4s linear infinite; 
  position: absolute;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);

  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);

  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);

  }
}

// @keyframes bats {
//   0% {
//     transform: translate(-500px, -200px);
//   }

//   50% {
//     transform: translate(50px, 50px);
//   }

//   100% {
//     transform: translate(500px, -1500px);
//   }
// }