
.overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;

}

.modalContent {
    backdrop-filter: blur(40px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #6b3b3b7b;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 0rem 3rem;

  -webkit-box-shadow: 0px 0px 105px 38px rgba(252, 181, 0, 0.62);
  -moz-box-shadow: 0px 0px 105px 38px rgba(252, 181, 0, 0.62);
  box-shadow: 0px 0px 105px 38px rgba(252, 181, 0, 0.62);
}

.overlayContent {
    h3 {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 1rem;
        margin-top: 10rem;
    }

    p {
        margin-bottom: 3rem;
    }

    button {
        border: 2px solid black;
        padding: 1rem 2rem ;
        border-radius: 20px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}
.overlayImg {
    border-radius: 2.5%;
    height: 400px;
    width: 600px;
    background-size: cover;
    background-image: url("../assets/haunted-house.avif");
    background-repeat: no-repeat;
}
