ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  padding: none;

  li {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    filter: drop-shadow(black 0px 0px 10px);
    text-decoration: none;
    padding: 1rem;
    flex-direction: row;

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.593);
    }
    
  }
}

a:hover {
  color: white;
  scale: 1.1;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 80vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.324);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    z-index: 1;

}


// @keyframes slideIn {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(0%);
//     }
// }